RewriteEngine On
RewriteBase /DNCVD19/

RewriteCond %{THE_REQUEST} /DNCVD19/index\.php\??([^\ ]*)
RewriteRule ^ %1? [L,R]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L]